
.bg{
    position:fixed;
    top:0px;
    left:0px;
    object-fit:cover;
    min-width:100%;
    max-height:100%;
    z-index:-1;
    opacity:1;
}


.head{
    position:fixed;
    top:0px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   /* margin: 5px 20px; */
   border: 2px solid rgba(90, 188, 224, 0.7);
   color: rgb(255, 255, 255);
   padding:1px 0px;
   border-radius: 10px;
   -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    width:100%;
    background-color: black;
    height:5vh;
}
b:hover{
    text-shadow: 0px 0px 5px rgba(0, 255, 213,1);
    transition: box-shadow 0.7s ease;
    color:rgb(217, 0, 255);
    -webkit-text-stroke: 0.5px rgb(217, 0, 255);
    text-shadow: 0px 0px 30px rgba(255, 255, 255,1);
    transform: text-shadow 0.7s ease;

}
a b{
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        text-decoration: none;
        color:rgb(251, 251, 251);
        -webkit-text-stroke: 0.5px rgb(217, 0, 255);

    
    /* text-decoration-line: none; */
}
.b{
    font-variant: small-caps;
    color: aliceblue;
    -webkit-text-stroke: 0.5px rgb(217, 0, 255);

}
.body{
    display: flex;
    justify-content: center;
    margin:10vh 0vh 0vh 0vh; 
    width:100%;
    height: auto;
    flex-wrap: wrap;
    align-items: end;
    text-align: left;
    color: aliceblue;
    font-size: 10vh;
    /* text-shadow: 0px 0px 10px black; */
    -webkit-text-stroke: 0.5px rgb(217, 0, 255);
}
.body:hover{
    color:rgb(217, 0, 255);
    -webkit-text-stroke: 0.5px rgb(255, 0, 242);
    transform: translatey(-5px);
    text-shadow: 0px 0px 30px rgba(255, 255, 255,1);
    transform: text-shadow 0.7s ease;
}
.body2:hover{
    color:rgb(217, 0, 255);
    -webkit-text-stroke: 0.5px rgb(255, 0, 242);
    transform: translatey(-5px);
    text-shadow: 0px 0px 30px rgba(255, 255, 255,1);
    transform: text-shadow 0.7s ease;
}
.description:hover{
    color:rgb(217, 0, 255);
    -webkit-text-stroke: 0.5px rgb(255, 0, 242);
    transform: translatey(-5px);
    text-shadow: 0px 0px 30px rgba(255, 255, 255,1);
    transform: text-shadow 0.7s ease;
}
.body2{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin:auto; 
    width:100%;
    height: fit-content;
    align-items: start;
    color: aliceblue;
    font-size: 10vh;
    text-align: center;
    -webkit-text-stroke: 0.5px rgb(217, 0, 255);

    
}

@media screen and (max-width:530px) {
    .body2{
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    
    text-align: left; 
        
    }
}
@media screen and (max-width:350px) {
    .body2{
       align-items:start;
   
    text-align: left;
    }
}
.description{
    margin-top: 10px;
    display: flex;
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    font: 20px;
    -webkit-text-stroke: 0.5px rgb(217, 0, 255);


}
@media screen and (min-width:819px) {
    small{
        font-size: 30px !important;
        padding: 0px 3px;
    
    text-align: center;
    
    }
}
.booking{
    display: flex;
    justify-content: center;
    margin-top:100px ;
    flex-wrap: wrap;
}
a button{
    text-align: center;
    min-height: 5vh;
    height:auto;
    width:fit-content;
    background-color: #66d9ff;
    border-style:inset;
    border-color: #00ffff;
    border-radius: 10px;
}
button:hover{
    border-color: #00ffff;
    background-color:  #66ffff;
    transform: translatey(-5px);
    box-shadow: 0px 0px 30px rgba(255, 255, 255,1);
    transform: box-shadow 0.7s ease;
}
#home{
 background:transparent;

}
#home{
    display:flex;
    flex-wrap: wrap;
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px rgb(217, 0, 255);
    font-size: xx-large;
    margin:0px;
}
#home p{
    display:flex;
    flex-wrap: wrap;
    color:rgb(255, 255, 255);
    text-shadow:0px 0px 5px black;
    font-size:larger;
}
#home h1:hover {
    color:rgb(217, 0, 255);
    -webkit-text-stroke: 0.5px rgb(255, 0, 242);
    transform: translatey(-5px);
    text-shadow: 0px 0px 30px rgba(255, 255, 255,1);
    transform: text-shadow 0.7s ease;
}
.logo{
    margin: 0px 0px 50px 0px;
    display: flex;
    width:auto;
    justify-content:center;
}
.logo a img{
    color:rgba(0, 0, 0,1);
    /* background-color: transparent; */
    background-clip: color;
    width:25px;
    height: auto ;
    margin:0px 20px ;
}
small{
    color:white;
    display: flex;
    justify-content: center;
    -webkit-text-stroke: 0.5px rgb(217, 0, 255);
}